#$ cat .gitignore

# игнорирование папки с временными копиями
*HARDWARE (Altium)/History/


# игнорирование папки preview
*HARDWARE (Altium)/__Previews


# игнорирование папки LOGS
*HARDWARE (Altium)/Project Logs for MPPT_controller


# игнорирование прочих папок
*History/
*Pdf/
*Modeling/
*Examples/
*LIB/
*e-mail/
*Customer_files/
*Contract/
*e-mail/

# игнорирование всех превью и временных файлов
*.PcbDocPreview
*.SchDocPreview
*.PrjPcb.Zip
*.SchDoc.Zip
*.LOG
